SiparisTakip.WinFormsUI/Connected Services/ETicaretService/StokService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StokService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6767/StokService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6767/StokService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6767/StokService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SiparisTakip.Entity.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStokService_Kaydet_InputMessage">
    <wsdl:part name="parameters" element="tns:Kaydet" />
  </wsdl:message>
  <wsdl:message name="IStokService_Kaydet_OutputMessage">
    <wsdl:part name="parameters" element="tns:KaydetResponse" />
  </wsdl:message>
  <wsdl:message name="IStokService_Listele2_InputMessage">
    <wsdl:part name="parameters" element="tns:Listele2" />
  </wsdl:message>
  <wsdl:message name="IStokService_Listele2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Listele2Response" />
  </wsdl:message>
  <wsdl:portType name="IStokService">
    <wsdl:operation name="Kaydet">
      <wsdl:input wsaw:Action="http://tempuri.org/IGenericServiceOf_Stok/Kaydet" message="tns:IStokService_Kaydet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGenericServiceOf_Stok/KaydetResponse" message="tns:IStokService_Kaydet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listele2">
      <wsdl:input wsaw:Action="http://tempuri.org/IStokService/Listele2" message="tns:IStokService_Listele2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStokService/Listele2Response" message="tns:IStokService_Listele2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStokService" type="tns:IStokService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Kaydet">
      <soap:operation soapAction="http://tempuri.org/IGenericServiceOf_Stok/Kaydet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listele2">
      <soap:operation soapAction="http://tempuri.org/IStokService/Listele2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StokService">
    <wsdl:port name="BasicHttpBinding_IStokService" binding="tns:BasicHttpBinding_IStokService">
      <soap:address location="http://localhost:6767/StokService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>