SiparisTakip.WinFormsUI/Connected Services/ETicaretService/StokService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6767/StokService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SiparisTakip.Entity.Models" />
  <xs:element name="Kaydet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SiparisTakip.Entity.Models" minOccurs="0" name="entity" nillable="true" type="q1:Stok" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KaydetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SiparisTakip.Entity.Models" minOccurs="0" name="KaydetResult" nillable="true" type="q2:Stok" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SiparisTakip.Entity.Models" minOccurs="0" name="Listele2Result" nillable="true" type="q3:ArrayOfStok" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>